/* General */
#now, #work1-txt, #work1-img {
    left: 20vw;
}

#future, #work3-txt, #work3-img {
    left: 80vw;
}

.main-images {
    width: 100vw;
    z-index: 85;
}

/* About me */
#about-me-section {
    position: absolute;
    margin-left: -2%;
    width: 100%;
    margin-top: 12.1vmax;
    height: 43vw;
}

#description {
    right: 10vw;
    top: 45vw;
}

/* Main skills */

.list {
    top: 130vw;
    width: 19vw;
}

.list:hover {
    top: 129.5vw;
    font-size: 1.2vmax;
    width: 21vw;
}

/* Experiences */
#usa-experience {
    left: 10vw;
    top: 215vw;
}

#othavio-snow {
    top: 170vw;
}

/* Latest works */
.work-txt {
    top: 275vw;
    width: 19vw;
    height: 41vw;
}

.work-txt:hover {
    top: 274vw;
    height: 43vw;
    width: 20vw;
}

.work-img {
    top: 281.3vw;
    width: 18vw;
}

.work-img:hover {
    top: 280.8vw;
    width: 18.3vw;
}

/* Footer */
#footer-background {
    padding-top: 14vw;
    top: 330vw;
}

#footer-logo {
    top: 329vw;
    font-size: 1.9vmax;
    width: 10vmax;
}

#footer-logo:hover {
    left: 2.8vw;
    top: 330vw;
    font-size: 1.7vmax;
    width: 9.5vmax;
}

.footer-text {
    font-size: 1.5vmax;
    left: 33vw;
}

#footer-about-me {
    top: 330.5vw;
}

#footer-skills {
    top: 335vw;
}

#footer-experiences {
    top: 339.5vw;
}

#footer-works {
    top: 344vw;
}

footer nav div:hover {
    font-size: 1.6vmax;
    transition: 0.1s;
}

.media-logo {
    top: 338vw;
    width: 4.5vw;
    z-index: 99;
}

#github {
    left: 72vw;
}

#linkedin {
    left: 78.5vw;
}

#twitter {
    left: 85vw;
}

#instagram {
    left: 91.5vw;
}

.media-logo:hover {
    transition: 0.1s;
    width: 5vw;
}

/* hr positioning */
#about-me {
    top: -10px;
}

#list-of-skills{
    top: 100vw;
}

#experiences {
    top: 150vw;
}

#works {
    top: 250vw;
}