/* General */
body {
    background-color: #EBEBEB;
    color: #2D3139;
    font-family: 'Oswald', sans-serif;
}

img {
    position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

#header1-logo, #header2-logo, #footer-logo {
    color: #2D3139;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    left: 50vw;
    text-align: center;
    transform: translate(-50%);
}

.first-name {
    font-weight: bolder;
}

.black-links, .black-links:active, .black-links:visited { 
    color: #2D3139;
    text-decoration: none;
}

.links, .links:active, .links:visited {
    color: #8a4abf;
    text-decoration: none;
}

.boxes {
    background-color: #E0E0E0;
    border: #EBEBEB solid 0.55vmax;
    font-size: 1.30vmax;
    font-weight: 300;
    padding: 0.775vmax;
    position: absolute;
    text-align: center;
    width: 15.75vmax;
    z-index: 90;
}

.main-images {
    width: 65vw;
    z-index: 85;
}

.work-txt, .list {
    border: none;
    box-shadow: 0.1vmax 0.1vmax 0.4vmax #2D3139;
}

/* Align of 3 boxes column */

.list, .work-txt, .work-img {
    transform: translate(-50%);
}

#now, #work1-txt, #work1-img {
    left: 25vw;
}

#development, #work2-txt, #work2-img {
    left: 50vw;
}

#future, #work3-txt, #work3-img {
    left: 75vw;
}

/* Starts header */

#header-background {
    background-color: #E0E0E0;
    color: #E0E0E0;
    margin: -5vmax -10vmax 0 -5vmax;
    padding-bottom: 9.45vmax;
    padding-left: 100%;
    padding-right: 100%;
    position: fixed;
    z-index: 98;
}

#header1-logo {
    background-color: #E0E0E0;
    border: 0.2vmax solid #2D3139;
    font-size: 2.6vmax;
    margin-top: 0.22vmax;
    padding: 0.77vmax;
    position: absolute;
    width: 14.65vmax;
    z-index: 100;
}

#header1-logo:hover {
    font-size: 2.4vmax;
    margin-top: 0.4vmax;
    padding: 0.62vmax;
    transition: 0.13s;
    width: 14vmax;
}

#header2-logo {
    border: 0.15vmax solid #2D3139;
    font-size: 1.58vmax;
    margin-top: 0.4vmax;
    padding: 0.4vmax;
    position: fixed;
    width: 8vmax;
    z-index: 99;
}

#header2-logo:hover {
    font-size: 1.38vmax;
    margin-top: 0.58vmax;
    padding: 7px;
    transition: 0.12s;
    width: 7vmax;
}

/* Here starts ABOUT ME */

#about-me-section {
    position: absolute;
    margin-left: -2%;
    width: 100%;
    margin-top: 12.1vmax;
    height: 12vw;
}

#othavio-profile {
    width: 20vmax;
}

#description{
    right: 23.2vw;
    top: 10vw;
}

/* Here starts SKILLS */

.list {
    font-size: 1.07vmax;
    height: 8.8vmax;
    position: absolute;
    top: 50vw;
    width: 12.8vmax;
}

.list:hover {
    transition: 0.2s;
    width: 13.5vmax;
    height: 9.2vmax;
    top: 49.6vw;
    font-size: 1.2vmax;
}

.list-title {
    font-size: 1.38vmax;
    font-weight: 400;
}

section div ul li {
    list-style: none;
    padding-left: 10%;
    text-align: left;
}

/* Here starts EXPERIENCE */
#usa-experience {
    left: 24.8vw;
    top: 81vw;
}

#othavio-snow {
    right: 0%;
    top: 72vw;
}

/* Here starts the latest works section */

.work-txt {
    font-size: 1.45vmax;
    font-weight: 400;
    height: 31.7vw;
    position: absolute;
    text-align: center;
    top: 117.5vw;
    width: 15.3vw;
}

.work-txt:hover {
    transition: 0.2s;
    width: 16vw;
    height: 32.7vw;
    top: 117vw;
}

.work-img {
    top: 121.2vw;
    width: 13.85vw;
    z-index: 91;
}

.work-img:hover {
    transition: 0.2s;
    width: 14.2vw;
    top: 120.7vw;
}

/* Here starts the footer */

#footer-background {
    background-color: #E0E0E0;
    color: #E0E0E0;
    margin: 0;
    padding-left: 99.4%;
    padding-top: 9vw;
    position: absolute;
    top: 158.3vw;
    z-index: 98;
}

#footer-logo {
    border: 0.2vmax solid #2D3139;
    font-size: 2.2vmax;
    left: 2vw;
    margin-bottom: 300px;
    padding: 0.6vmax;
    position: absolute;
    top: 158.2vw;
    transform: translate(0);
    width: 12.5vmax;
    z-index: 100;
}

#footer-logo:hover {
    font-size: 2vmax;
    padding: 0.4vmax;
    top: 158.7vw;
    left: 2.3vw;
    width: 11.4vmax;
    transition: 0.15s;
}

.footer-text {
    font-size: 1.14vmax;
    left: 25vw;
    position: absolute;
    text-transform: uppercase;
    z-index: 100;
}

#footer-about-me {
    top: 160vw;
}

#footer-skills {
    top: 162vw;
}

#footer-experiences {
    top: 164vw;
}

#footer-works {
    top: 166vw;
}

footer nav div:hover {
    font-size: 1.25vmax;
    transition: 0.1s;
}

.media-logo {
    top: 163vw;
    width: 1.72vmax;
    z-index: 99;
}

#github {
    left: 83vw;
}

#linkedin {
    left: 85.75vw;
}

#twitter {
    left: 88.5vw;
}

#instagram {
    left: 91.25vw;
}

.media-logo:hover {
    transition: 0.1s;
    width: 1.9vmax;
}

/* Below here only hr appointments */

hr {
    position: absolute;
    width: 0%;
    color: #EBEBEB;
    background-color: #EBEBEB;
    z-index: 0;
}

#about-me {
    top: -10px;
}

#list-of-skills{
    top: 39vw;
}

#experiences {
    top: 57vw;
}

#works {
    top: 105vw;
}