body{
    font-family: 'Oswald', sans-serif;
    background-color: #EBEBEB;
    color: #2D3139;
}

#header{
    content: "";
    color: #E0E0E0;
    background-color: #E0E0E0;
    position: fixed;
    margin: -100px -500px 0 -20px;
    padding-left: 100%;
    padding-right: 100%;
    padding-bottom: 185px;
    z-index: 98;
}

.othavio, .othavio2 {
    font-family: 'Montserrat', sans-serif;
    color: #2D3139;
    font-weight: 500;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

.othavio2 {
    color: #2D3139;
    position: fixed;
    font-size: 30px;
    border: 2px solid #2D3139;
    width: 150px;
    padding: 8px;
    z-index: 99;
    margin-top: 5px;
}

#othavio-link, #othavio-link:visited, #othavio-link:active {
    color: #2D3139;
    text-decoration: none;
}

.othavio {
    position: absolute;
    background-color: #E0E0E0;
    font-size: 50px;
    border: 3px solid #2D3139;
    width: 280px;
    padding: 15px;
    z-index: 100;
    margin-top: 4px;
}

.primeironome{
    font-weight: bolder;
}

#othavio-perfil {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%);
    width: 320px;
    z-index: 89;
}

.boxes{
    position: absolute;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    background-color: #E0E0E0;
    width: 300px;
    padding: 15px;
    border: #EBEBEB solid 10px;
    z-index: 90;
}

.description{
    top: 550px;
    left: 50%;
    transform: translate(-50%);
}

.usa-experience {
    top: 1170px;
    left: 35%;
    transform: translate(-50%);
}

#othavio-neve {
    position: absolute;
    top: 1000px;
    width: 1250px;
    left: 67.2%;
    transform: translate(-50%);
    z-index: 85;
}

#othavio-anju-arco {
    position: absolute;
    top: 1380px;
    width: 210px;
    left: 79%;
    transform: translate(-50%);
    z-index: 87;
}

#othavio-frango {
    position: absolute;
    top: 1315px;
    width: 200px;
    left: 89%;
    transform: translate(-50%);
    z-index: 89;
}

#othavio-bowl {
    position: absolute;
    top: 1050px;
    width: 230px;
    left: 82%;
    transform: translate(-50%);
    z-index: 88;
}

.links, .links:active, .links:visited {
    color: #8a4abf;
    text-decoration: none;
}

.list {
    position: absolute;
    font-size: 20px;
    top: 800px;
}