/* General */
body{
    font-family: 'Oswald', sans-serif;
    background-color: #EBEBEB;
    color: #2D3139;
}

header, footer, section {
    display: block;
}

img {
    position: absolute;
}

.othavio, .othavio2, .othavio3 {
    font-family: 'Montserrat', sans-serif;
    color: #2D3139;
    font-weight: 500;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

.primeironome{
    font-weight: bolder;
}

.black-links, .black-links:active, .black-links:visited { 
    color: #2D3139;
    text-decoration: none;
}

.links, .links:active, .links:visited {
    color: #8a4abf;
    text-decoration: none;
}

.boxes, .list, .work-txt{
    position: absolute;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    background-color: #E0E0E0;
    width: 300px;
    padding: 15px;
    border: #EBEBEB solid 10px;
    z-index: 90;
}

/* Align of 3 boxes column */
.now, #work1-txt {
    left: 300px;
}

.development, #work2-txt {
    left: 800px;
}

.future, #work3-txt {
    left: 1300px;
}

/* Starts header */
#header{
    color: #E0E0E0;
    background-color: #E0E0E0;
    position: fixed;
    margin: -100px -500px 0 -20px;
    padding-left: 100%;
    padding-right: 100%;
    padding-bottom: 185px;
    z-index: 98;
}

.othavio2 {
    position: fixed;
    font-size: 30px;
    border: 2px solid #2D3139;
    width: 150px;
    padding: 8px;
    z-index: 99;
    margin-top: 5px;
}

.othavio {
    position: absolute;
    background-color: #E0E0E0;
    font-size: 50px;
    border: 3px solid #2D3139;
    width: 280px;
    padding: 15px;
    z-index: 100;
    margin-top: 4px;
}

/* Here starts ABOUT ME */
#othavio-perfil {
    top: 240px;
    left: 50%;
    transform: translate(-50%);
    width: 320px;
    z-index: 89;
}

.description{
    top: 350px;
    left: 54%;
}

/* Here starts SKILLS */
.list {
    position: absolute;
    font-size: 20px;
    top: 900px;
    width: 250px;
    height: 170px;
}

.list-title {
    font-size: 27px;
    font-weight: 400;
}

li {
    text-align: left;
    padding-left: 20px;
    list-style: none;
}

/* Here starts EXPERIENCE */
.usa-experience {
    top: 1420px;
    left: 25%;
}

#othavio-neve {
    top: 1250px;
    width: 1250px;
    left: 32%;
    z-index: 85;
}

#othavio-anju-arco {
    top: 1630px;
    width: 210px;
    left: 73%;
    z-index: 87;
}

#othavio-frango {
    top: 1565px;
    width: 200px;
    left: 83%;
    z-index: 89;
}

#othavio-bowl {
    top: 1300px;
    width: 230px;
    left: 76%;
    z-index: 88;
}

/* Here starts the latest works section */

.work-txt {
    position: absolute;
    top: 2050px;
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    width: 290px;
    height: 590px;
}

.work-img {
    top: 2150px;
    width: 265px;
    z-index: 91;
}

#work1-img {
    left: 337px;
}

#work2-img {
    left: 837px;
}

#work3-img {
    left: 1337px;
}

/* Here starts the footer */

#footer {
    color: #E0E0E0;
    background-color: #E0E0E0;
    position: absolute;
    top: 2800px;
    margin: 0;
    padding-left: 99.4%;
    padding-top: 185px;
    z-index: 98;
}

.othavio3 {
    position: absolute;
    font-size: 45px;
    border: 3px solid #2D3139;
    width: 240px;
    margin-bottom: 300px;
    padding: 14px;
    z-index: 100;
    left: 2%;
    transform: translate(0);
    top: 2785px;
}

.footer-text {
    text-transform: uppercase;
    font-size: 22px;
    position: absolute;
    top: 2810px;
    z-index: 100;
    left: 500px;
}

.logo {
    z-index: 99;
    width: 30px;
    top: 2890px;
}

#twitter {
    left: 1600px;
}

#instagram {
    left: 1650px;
}

#linkedin {
    left: 1550px;
}

#github {
    left: 1500px;
}

/* Below here only hr appointments */

hr {
    position: absolute;
    width: 0%;
    color: #EBEBEB;
    background-color: #EBEBEB;
    z-index: 0;
}

#list-of-skills{
    top: 600px;
}

#experiences {
    top: 1050px;
}

#works {
    top: 1900px;
}